* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  background: linear-gradient(to bottom, #99ffcc 48%, #ff99cc 100%);
}

ul {
  list-style: none;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

a {
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 51, 153);
  font-size: 1em;
}

h1 {
  text-shadow: 2px 2px rgb(100, 100, 100);
}

h4 {
  text-shadow: 1px 1px rgb(150, 150, 150);
  font-family: roboto;
}

.header-layout {
  color: rgb(0, 100, 0);
}

.add-product {
  margin-top: 100px;
}

.create-catalogue {
  margin-top: 30px;
}

.metal-price {
  margin-top: 30px;
}

.header-green-top {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.link-header {
  /* width: 60vw; */
  align-self: end;
  text-align: right;
  margin-right: 2%;
}

.login-navbar {
  bottom: 20px;
}

.link-style {
  padding: 10px;

  text-decoration: none;
  color: rgb(0, 51, 153);
}
.input-form {
  width: 50px;
}

.company-pic {
  width: 550px;
  margin-left: 2%;
  box-shadow: 20px 20px 10px #aaaaaa;
}
.pic-login {
  margin: 2vw 5vw 0vw 5vw;
  width: 50%;
}
.contact-page {
  display: flex;
  justify-content: space-around;
}

.company-info {
  /* border: solid 2px green; */
  /* border-radius: 10px; */
  margin-top: 3%;
  margin-right: 5%;
  /* padding: 150px; */
  /* box-shadow: 20px 20px 10px #aaaaaa; */
}
.userQuotation-card {
  display: flex;
  justify-content: space-around;
}
.quoDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
